<!DOCTYPE html>
<html>
<head>
    <title>Shatveena</title>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/basic/font-awesome.min.css"/>
	<link rel="stylesheet" href="/static/css/basic/font-awesome.css"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>
    <script type="text/javascript" src="/static/js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="/static/js/editable.js"></script>
</head>
<body>

        <div class="row" style="margin-bottom : 0px; border-top : 1px solid #1e88e5;">
                <div class="col s12 indexhead">
                    <div class="col s1">
                        <p class="right-align " style="margin-top : 15px;"><a class="head" href="../../"><i class="fa fa-home" aria-hidden="true" style="margin-right : 10px;"></i>Home</a></p>
                    </div>
                    <div class="col s2">
                        <p class="center-align " style="margin-top : 15px;"><a class="head" href="logout"><i class="fa fa-bell" aria-hidden="true" style="margin-right : 10px;"></i>Notification</a></p>
                    </div>
                    <div class="col s1">
                        <p class="left-align " style="margin-top : 15px;"><a class="head" href="logout"><i class="fa fa-upload" aria-hidden="true" style="margin-right : 10px;"></i>Upload</a></p>
                    </div>
                    <div class=" col s3 offset-s3">
                        <div class="valign-wrapper">
                            <input id="search" type="text" class="search" placeholder="Search here for your content.....">
                        </div>
                    </div>
                    <div class="col s1">
                        <p class="center-align " style="margin-top : 15px;"><a class="head" href="../../logout">Log Out</a></p>
                    </div>
                    <div class="col s1">
                        <p class="center-align " style="margin-top : 15px;"><a class="head" href="" >{{person.username}}</a></p>
                    </div>
                </div>
        </div>

        <div class="col s12 blueline2">
        </div>

        <div class="s12 userback">
            <img class="img-responsive userback" src="/static/images/userback.jpeg"  alt = "banner" />
        </div>

        <div class="col s12 blueline3">
        </div>

        <div class="row col s12" style="margin-bottom : 0px; z-index : 20; border-bottom : 2px solid white; box-shadow : 0px 2px 3px white;">
            <nav  style="background-color : #8c9eff;">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <div class="col s6 offset-s3">
                            <span class="flow text">
                                <ul class="hide-on-down">
                                    <li class="navibar"><a id="active1" href="">Activities</a></li>
                                    <li class="navibar"><a id="sleep1" href="/my-space/">About</a></li>
                                    <li class="navibar"><a id="sleep1" href="/follower/">Followers</a></li>
                                    <li class="navibar"><a id="sleep1" href="/following/">Following</a></li>
                                    <li><a id="sleep1" href="">Settings</a></li>
                                </ul>
                            </span>
                        </div>
                        <div class="col s2 offset-s1">
                            <span class="flow text">
                                <ul class="hide-on-down">
                                    <li class="navibar" style="float : right;"><a id="active1" href=""><i class="fa fa-user-plus" aria-hidden="true" style="margin-right : 5px;"></i>follow</a></li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="col s12" style="padding-left : 80px;">
            <div class="col s2">
                <img class="img-responsive userprofile" src="/static/images/user.jpg"  alt = "banner" />
            </div>
        </div>

        <div class="row" style="padding-left : 40px; margin-top : 20px; padding-right : 40px;">
            <div class="col s3">

                {% if person.name %}
                    <div class="col s12 section1">
                        <div class="section11">
                            <p id="editable" class="section111"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
                            <p class="intro1 center">{{person.name}}</p>
                        </div>
                        <div class="section12">
                            <form method="post" action="/account/">{% csrf_token %}
                                <textarea name="intro" hidden>{{person.intro}}</textarea>
                                <input type="text" name="address" value="{{person.address}}" hidden>
                                <div class="col s12">
                                    <div class="col s11">
                                        <input type="text" name="name" value="{{person.name}}" placeholder="Write your name here...">
                                    </div>
                                </div>
                                <div class="col s6">
                                    <a style="float : left; cursor : pointer;" class="cancel1">Cancel</a>
                                </div>
                                <div class="col s6">
                                    <button id="button_save" type="submit">Save</button>
                                </div>
                                <div class="col s12">
                                    <div class="col s6 offset-s3">
                                        <hr>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}

                {% if not person.name %}
                    <div class="col s12 section1">
                        <div class="section11">
                            <p id="editable" class="section111"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
                            <p class="intro1 center">Your Name</p>
                        </div>
                        <div class="section12">
                            <form method="post" action="/account/">{% csrf_token %}
                                <textarea name="intro" hidden>{{person.intro}}</textarea>
                                <input type="text" name="address" value="{{person.address}}" hidden>
                                <div class="col s12">
                                    <div class="col s11">
                                        <input type="text" name="name" placeholder="Write your name here...">
                                    </div>
                                </div>
                                <div class="col s6">
                                    <a style="float : left; cursor : pointer;" class="cancel1">Cancel</a>
                                </div>
                                <div class="col s6">
                                    <button id="button_save" type="submit">Save</button>
                                </div>
                                <div class="col s12">
                                    <div class="col s6 offset-s3">
                                        <hr>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}

                <p class="intro center">@{{person.username}}</p>

                {% if not person.intro %}
                    <div class="col s12 section2">
                        <div class="section21">
                            <p class="intro2 center">Here write your small introduction.</p>
                            <p class="section211" style="float : right; margin : 0px; cursor : pointer; color : #1e88e5;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
                        </div>

                        <div class="section22">

                            <form action="/account/" method="post">{% csrf_token %}
                                <input type="text" name="name" value="{{person.name}}" hidden>
                                <input type="text" name="address" value="{{person.address}}" hidden>
                                <div class="col s12">
                                    <div class="input-field col s12">
                                        <textarea id="textarea1" class="materialize-textarea" name="intro" maxlength="120" length="120"></textarea>
                                        <label for="textarea1">Write your introduction...</label>
                                    </div>
                                </div>
                                <div class="col s6">
                                    <a style="float : left; cursor : pointer;" class="cancel2">Cancel</a>
                                </div>
                                <div class="col s6">
                                    <button id="button_save" type="submit">Save</button>
                                </div>
                                <div class="col s12">
                                    <div class="col s8 offset-s2">
                                        <hr>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}


                {% if person.intro %}
                    <div class="col s12 section2">
                        <div class="section21">
                            <p class="intro2 center">{{person.intro}}</p>
                            <p class="section211" style="float : right; margin : 0px; cursor : pointer; color : #1e88e5;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
                        </div>

                        <div class="section22">

                            <form action="/account/" method="post">{% csrf_token %}
                                <input type="text" name="name" value="{{person.name}}" hidden>
                                <input type="text" name="address" value="{{person.address}}" hidden>
                                <div class="col s12">
                                    <div class="input-field col s12">
                                        <textarea id="textarea1" class="materialize-textarea" name="intro" maxlength="120">{{person.intro}}</textarea>
                                    </div>
                                </div>
                                <div class="col s6">
                                    <a style="float : left; cursor : pointer;" class="cancel2">Cancel</a>
                                </div>
                                <div class="col s6">
                                    <button id="button_save" type="submit">Save</button>
                                </div>
                                <div class="col s12">
                                    <div class="col s8 offset-s2">
                                        <hr>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}


                {% if person.address %}
                    <div class="col s12 section3">
                        <div class="section31">
                            <p id="editable" class="section311"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
                            <p class="intro3"><i class="fa fa-map-marker" aria-hidden="true" style="margin-right : 10px;"></i>{{person.address}}</p>
                        </div>
                        <div class="section32">
                            <form action="/account/" method="post">{% csrf_token %}
                                <textarea name="intro" hidden>{{person.intro}}</textarea>
                                <input type="text" name="name" value="{{person.name}}" hidden>
                                <div class="col s12">
                                    <div class="col s11">
                                        <input type="text" name="address" value="{{person.address}}" placeholder="Write your current location...">
                                    </div>
                                </div>
                                <div class="col s6">
                                    <a style="float : left; cursor : pointer;" class="cancel3">Cancel</a>
                                </div>
                                <div class="col s6">
                                    <button id="button_save" type="submit">Save</button>
                                </div>
                                <div class="col s12">
                                    <div class="col s6 offset-s3">
                                        <hr>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}

                {% if not person.address %}
                    <div class="col s12 section3">
                        <div class="section31">
                            <p id="editable" class="section311"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
                            <p class="intro3"><i class="fa fa-map-marker" aria-hidden="true" style="margin-right : 10px;"></i>Write current location</p>
                        </div>
                        <div class="section32">
                            <form action="/account/" method="post">{% csrf_token %}
                                <textarea name="intro" hidden>{{person.intro}}</textarea>
                                <input type="text" name="name" value="{{person.name}}" hidden>
                                <div class="col s12">
                                    <div class="col s11">
                                        <input type="text" name="address" placeholder="Write your address here...">
                                    </div>
                                </div>
                                <div class="col s6">
                                    <a style="float : left; cursor : pointer;" class="cancel3">Cancel</a>
                                </div>
                                <div class="col s6">
                                    <button id="button_save" type="submit">Save</button>
                                </div>
                                <div class="col s12">
                                    <div class="col s6 offset-s3">
                                        <hr>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}
                <p class="intro4"><i class="fa fa-calendar" aria-hidden="true" style="margin-right : 10px; margin-top : 10px;"></i><a style="color : black; font-size : 14px;">joined on</a> December 12, 2016</p>

                <a href=""><p class="intro3"><i class="fa fa-camera" aria-hidden="true" style="margin-right : 8px;"></i>Photos and Videos</p></a>
                <div class="col s12" style="margin : 0px; padding : 0px;">
                    <div class="col s4">
                        <img class="img-responsive" width="100%" src="/static/images/shivam.jpg"  alt = "banner" style="border-radius : 4px 4px;" />
                    </div>
                    <div class="col s4">
                        <img class="img-responsive" width="100%" src="/static/images/shivam.jpg"  alt = "banner" style="border-radius : 4px 4px;"/>
                    </div>
                    <div class="col s4">
                        <img class="img-responsive" width="100%" src="/static/images/shivam.jpg"  alt = "banner" style="border-radius : 4px 4px;"/>
                    </div>
                </div>
                <div class="col s12" style="margin : 0px; padding : 0px;">
                    <div class="col s4">
                        <img class="img-responsive" width="100%" src="/static/images/shivam.jpg"  alt = "banner" style="border-radius : 4px 4px;" />
                    </div>
                    <div class="col s4">
                        <img class="img-responsive" width="100%" src="/static/images/shivam.jpg"  alt = "banner" style="border-radius : 4px 4px;"/>
                    </div>
                    <div class="col s4">
                        <img class="img-responsive" width="100%" src="/static/images/shivam.jpg"  alt = "banner" style="border-radius : 4px 4px;"/>
                    </div>
                </div>

            </div>


            <div class="col s6" id="box" style="min-height : 50vh;">


            </div>


            <div class="col s3">
                <div class="col s12" id="box">
                    <p class="yourlike">You may also like.....</p><hr>

                    <div class="col s12" style="margin : 0px; padding : 0px; margin-top : 10px;">
                        <div class="col s3">
                            <img class="img-responsive person" src="/static/images/shivam.jpg"  alt = "banner" />
                        </div>
                        <div class="col s4">
                            <p class="yourlike_name">Shivam</p>
                            <p class="yourlike_id"><a href="">@shivampa</a></p>
                        </div>
                        <div class="col s5">
                            <button type="submit" id="follow"><i class="fa fa-user-plus" aria-hidden="true" style="margin-right : 3px;"></i>follow</button>
                        </div>
                    </div>

                    <div class="col s12" style="margin : 0px; padding : 0px; margin-top : 10px;">
                        <div class="col s3">
                            <img class="img-responsive person" src="/static/images/shivam.jpg"  alt = "banner" />
                        </div>
                        <div class="col s4">
                            <p class="yourlike_name">Shivam</p>
                            <p class="yourlike_id"><a href="">@shivampa</a></p>
                        </div>
                        <div class="col s5">
                            <button type="submit" id="follow"><i class="fa fa-user-plus" aria-hidden="true" style="margin-right : 3px;"></i>follow</button>
                        </div>
                    </div>

                    <div class="col s12" style="margin : 0px; padding : 0px; margin-top : 10px;">
                        <div class="col s3">
                            <img class="img-responsive person" src="/static/images/shivam.jpg"  alt = "banner" />
                        </div>
                        <div class="col s4">
                            <p class="yourlike_name">Shivam</p>
                            <p class="yourlike_id"><a href="">@shivampa</a></p>
                        </div>
                        <div class="col s5">
                            <button type="submit" id="follow"><i class="fa fa-user-plus" aria-hidden="true" style="margin-right : 3px;"></i>follow</button>
                        </div>
                    </div>

                    <div class="col s12" style="margin : 0px; padding : 0px; margin-top : 10px;">
                        <div class="col s3">
                            <img class="img-responsive person" src="/static/images/shivam.jpg"  alt = "banner" />
                        </div>
                        <div class="col s4">
                            <p class="yourlike_name">Shivam</p>
                            <p class="yourlike_id"><a href="">@shivampa</a></p>
                        </div>
                        <div class="col s5">
                            <button type="submit" id="follow"><i class="fa fa-user-plus" aria-hidden="true" style="margin-right : 3px;"></i>follow</button>
                        </div>
                    </div>

                    <div class="col s12" style="margin : 0px; padding : 0px; margin-top : 10px;">
                        <div class="col s3">
                            <img class="img-responsive person" src="/static/images/shivam.jpg"  alt = "banner" />
                        </div>
                        <div class="col s4">
                            <p class="yourlike_name">Shivam</p>
                            <p class="yourlike_id"><a href="">@shivampa</a></p>
                        </div>
                        <div class="col s5">
                            <button type="submit" id="follow"><i class="fa fa-user-plus" aria-hidden="true" style="margin-right : 3px;"></i>follow</button>
                        </div>
                </div>
            </div>
        </div>
</div>
        <div class="col s12" id="footer">
            <p class="footer center">&#169; All rights reserved | developed by Shatveena.com</p>
        </div>


    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>

</body>
</html>
