<!DOCTYPE html>
<html>
<head>
    <title>Shatveena</title>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/basic/font-awesome.min.css"/>
	<link rel="stylesheet" href="/static/css/basic/font-awesome.css"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>
    <link href="css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body style="min-height : 100vh;">

    <div class="row col s12" id="loginhead">
        <div class="col s6 offset-s3">
            <span class="flow-text">
                <a href="../"><h1 class="head">Shatveena Welcomes You</h1></a><hr class="linehead">
                <p class="head">Here we write our tag line.......</p>
            </span>
        </div>
    </div>
    <div class="row col s12">
        <div class="col s8 offset-s2 signup"style="padding-top : 15vh; padding-bottom : 15vh; ">
            <div class="col s10 offset-s1">
                <div class="row">
                    <p class="center wrong1">Sorry, your entered OTP is wrong</p>
                    <p class="center wrong2"><a href="../signup/">Click here</a> to try again</p>
             </div>
        </div>
    </div>
    <div class="col s12" id="footer" style="bottom :0px;">
        <p class="footer center">&#169; All rights reserved | developed by Shatveena.com</p>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
</body>
</html>
